<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Formular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" type = "text/css"/>

    <link href="../static/css/loadScreen.css"
          th:href="@{css/loadScreen.css}" rel="stylesheet" media="screen"/>

    <script src="..static/js/script.js"
            th:src="@{js/script.js}"></script>

    <script src="..static/js/jquery-3.1.1.min.js"
            th:src="@{js/jquery-3.1.1.min.js}"></script>

</head>
<body>
    <form onsubmit="show()" method="POST" action="/" id="submitButton" enctype="multipart/form-data">
        <div class="preview img-wrapper">
        </div>
        <div class="file-upload-wrapper">
            <input type="file" name="file" class="file-upload-native" accept="image/*" />
            <input type="text" placeholder="choose image" class="file-upload-text" />
        </div>
        <input type="submit" value="upload" style = "margin-left:47.2%; margin-top:1%; padding:0.4% 1.3%; background-color:rgb(33, 122, 105);" />

    </form>


    <div class="spinner" id="show" style="display:none;">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>

    <script th:inline="Javascript">
        function show(){
            document.getElementById('show').style.display = "";
            document.getElementById('submitButton').style.display = "none";
            return false;
        }
    </script>
</body>
</html>


